// color variable
$primary_color: #090f1f;
$secondary_color: #eef6e7;
$hero_bg_color: #fffade;
$white: #ffffff;
$green_color: #83cd8f;
$gray_color: #2c3347;
$yellow_color: #fed500;
$blue_color: #151b2a;

// responsive variable
$mobile: 480px;
$small_tablet: 620px;
$mid_tablet: 744px;
$tablet: 768px;
$mid_laptop: 800px;
$laptop: 1024px;
$desktop: 1200px;
