@import "../mixin/font";
@import "../variables/variable";
// blog section
.blog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $white;
  padding: 0 12% 5%;
  width: 100%;

  @media (max-width: $laptop) {
    padding: 3vw 6%;
  }
  @media (max-width: $tablet) {
    padding: 5vw 5%;
  }
  @media (max-width: $mobile) {
    padding: 6vw 4%;
  }

  .blog_main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    width: 100%;

    .blog_title h1 {
      @include fontH1(40px, 600);
      color: $primary_color;
      text-align: center;

      @media (max-width: $laptop) {
        @include fontH1(30px, 600);
      }
    }

    .blog_box_cont {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: $desktop) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $small_tablet) {
        grid-template-columns: 1fr;
      }

      .blog_box {
        width: 100%;
        background-color: $secondary_color;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.18s linear;

        &:hover {
          transform: skewY(2deg);
        }

        .blog_box_img img {
          width: 100%;
        }

        .blog_box_text {
          padding: 2vw;
          display: flex;
          flex-direction: column;
          gap: 1.5vw;
          align-items: flex-start;

          @media (max-width: $small_tablet) {
            gap: 2.5vw;
          }

          .blog_box_sub_title {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: nowrap;
            width: 100%;

            h5 {
              margin: 0;
              display: inline-flex;
              align-items: center;
              white-space: nowrap;
              @include fontH5(16px, 600);
              color: $primary_color;

              @media (max-width: $desktop) {
                @include fontH5(18px, 600);
              }
              @media (max-width: $mid_tablet) {
                @include fontH5(15px, 600);
              }
              @media (max-width: $small_tablet) {
                @include fontH5(16px, 600);
              }
              @media (max-width: $mobile) {
                @include fontH5(14px, 600);
              }

              i {
                margin-right: 6px;
                display: inline-block;
              }
            }

            @media (max-width: $small_tablet) {
              flex-wrap: wrap;
              gap: 8px;
            }
          }

          .blog_box_title h2 {
            @include fontH2(22px, 600);
            line-height: 30px;
            color: $primary_color;

            @media (max-width: $desktop) {
              @include fontH2(20px, 600);
            }
            @media (max-width: $tablet) {
              @include fontH2(24px, 600);
            }
          }

          .blog_box_btn button {
            @include fontA(14px, 600);
            border: none;
            background: transparent;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5vw;
            color: $primary_color;
            padding: 5px;
            border-radius: 5px;
            overflow: hidden;
            transition: 0.5s ease;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background-color: $primary_color;
              z-index: -1;
              transition: width 0.4s linear;
            }

            &:hover {
              color: $secondary_color;
              transform: translateX(2px);
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
